<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Node Chat</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme from http://bootswatch.com/ -->
	<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">

	<!-- Custom Theme changes -->
	<link rel="stylesheet" href="../public/css/main.css">

	<!-- jQuery needed -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>


<!-- Login input form - takes a name before initiating chat -->
<div class="container chat-name-section">
	<div class="row">
		<div class="col-lg-12">
			<form class="bs-component" id="chatNameForm">
			<div class="page-header">
				<h2>Welcome to Chat App Made By Fenil Rami</h2>
			</div>
			<div class="form-group">
				<label class="control-label" for="name">Please enter your name</label>

				<div class="input-group">
					<input type="text" class="form-control" name="name" id="name">
					<span class="input-group-btn"><button class="btn btn-success">Enter Chat</button></span>
				</div>

				<div class="input-group">
					<p><span class="text-danger">Username is already taken!</span></p>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>


<!-- Chat header area - contains 'Users Online' count and log of chat messages -->
<div class="chat-box-section">

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Chat App Made by Fenil Rami</h1>
			</div>
			<div class="col-lg-12">
				<div class="bs-component">
					<button class="btn btn-primary" data-toggle="modal" data-target="userslist" id="usersOnlineBtn">Users Online &nbsp;<span class="badge">0</span></button>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div id="user"><!--Hello {user}--></div>
					</div>
					<div class="panel-body" id="chatBox"></div>
				</div>
			</div>
		</div>
	</div>

</div>


<!-- Chat message textarea and 'Send' button -->
<div class="container">
	<div class="row chat-input-section">
		<form class="bs-component" id="chatInputForm">
		<div class="col-lg-8 col-md-8 col-sm-8">
			<textarea class="form-control" id="chatTextBox"></textarea>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<button type="submit" class="btn btn-success btn-lg btn-block" id="chatSendBtn">Send</button>
		</div>
		</form>
	</div>
</div>


<!-- Modal Popup for displaying users -->
<div class="modal fade bs-example-modal-sm" id="usersBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Users Online</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="contact">
	<h2>You can find me here</h2>
	<a href="https://github.com/fenil3357"  target="blank">
	  <svg class="contactItems" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
		<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
	  </svg>
	</a>
	<a  href="https://www.linkedin.com/in/fenil-rami-6a7803204/" target="blank">
	<svg class="contactItems" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
		<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
	  </svg>
	</a>
</div>

  
<!-- For working with HTML5 audo files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/howler/1.1.17/howler.min.js"></script>

<!--- Automatically generated by Socket.io -->
<script src="/socket.io/socket.io.js"></script>

<!--- Application code -->
<script src="/js/chat.js"></script>
</body>
</html>